.DS_Store
.ipynb_checkpoints/
.vscode/

# === File rigenerabili ===

# modelli
*.pth

# Ignora tutto il contenuto delle cartelle logs/
**/logs/

# === Ignora output non essenziali dei plot ===
**/likelihood_profiles/
**/marginals/

# === Python cache ===
**/__pycache__/

# Plots
*.png
# Allow tracking of marginal distribution plots only
!Uncertainty_Modeling/wifi/Fit_Weights/results_fit_weights_NF/**/ensemble_marginal_feature_*.png
!Uncertainty_Modeling/wifi/Fit_Weights/results_fit_weights_gaussian_toy/**/ensemble_marginal_feature_*.png
# Allow tracking of NPLM comparison/calibration plots
!NPLM/NPLM_NF_ensemble/comparison/**/plots/*.png
!NPLM/NPLM_NF_ensemble/calibration/**/plots/*.png
*.jpg
*.pdf

# Large arrays or generated data
*.npy
# Allow tracking of fitted weights and covariances
!Uncertainty_Modeling/wifi/Fit_Weights/results_fit_weights_NF/**/w_i_fitted.npy
!Uncertainty_Modeling/wifi/Fit_Weights/results_fit_weights_NF/**/cov_w.npy
!Uncertainty_Modeling/wifi/Fit_Weights/results_fit_weights_gaussian_toy/**/w_i_fitted.npy
!Uncertainty_Modeling/wifi/Fit_Weights/results_fit_weights_gaussian_toy/**/cov_w.npy
# Allow tracking of fixed target data
!Train_Ensembles/Generate_Data/saved_generated_target_data/100k_target_training_set.npy
!Train_Ensembles/Generate_Data/saved_generated_target_data/500k_target_training_set.npy
!Train_Ensembles/Generate_Data/saved_generated_target_data/mu_target.npy

# Allow Gaussian toy plots and toy models
!Generate_Gaussian_Toy/saved_generated_gaussian_toys/**/*.png
!Generate_Gaussian_Toy/saved_generated_gaussian_toys/**/*.npy
# Python caches
__pycache__/
*.py[cod]
*.pyo
Train_Ensembles/Train_Models/Sparker_kernels/EstimationKernels_outputs/
