.DS_Store
.ipynb_checkpoints/
# === File rigenerabili ===

# modelli
*.pth

# Ignora tutto il contenuto delle cartelle logs/
**/logs/

# === Ignora output non essenziali dei plot ===
**/likelihood_profiles/
**/marginals/

# === Python cache ===
**/__pycache__/

# Plots
*.png
# Allow tracking of marginal distribution plots only
!Uncertainty_Modeling/wifi/Fit_Weights/results_fit_weights_NF/**/ensemble_marginal_feature_*.png
*.jpg
*.pdf

# Large arrays or generated data
*.npy
# Allow tracking of fitted weights and covariances
!Uncertainty_Modeling/wifi/Fit_Weights/results_fit_weights_NF/**/w_i_fitted.npy
!Uncertainty_Modeling/wifi/Fit_Weights/results_fit_weights_NF/**/cov_w.npy

*.h5
*.npz 